<div id="theater-container" style="background-image:url('{{background}}')">
    <div class="settings"><a><i class="fas fa-cog"></i></a></div>
    {{#if prev}}<div class="player prev{{#if prev.defeated}} defeated{{/if}}{{#unless prev.visible}} hidden{{/unless}}" actor-id="{{prev.id}}" style="background-image:url('{{prev.img}}')"></div>{{/if}}
    {{#if current}}<div class="player current{{#if current.defeated}} defeated{{/if}}{{#unless current.visible}} hidden{{/unless}}" actor-id="{{current.id}}" style="background-image:url('{{current.img}}')"></div>{{/if}}
    {{#if next}}<div class="player next{{#if next.defeated}} defeated{{/if}}{{#unless next.visible}} hidden{{/unless}}" actor-id="{{next.id}}" style="background-image:url('{{next.img}}')"></div>{{/if}}
    <div class="theater-foreground" style="background-image:url('{{foreground}}')"></div>
    <div class="combat-ctrls flexrow">
        <a class="prev-turn combat-control" data-control="previousTurn" style=" flex-grow: 0; padding-left: 10px;"><i class="fas fa-arrow-left"></i></a>
        <a class="end-combat" data-control="endCombat">End Combat</a>
        <a class="next-turn combat-control" data-control="nextTurn" style=" flex-grow: 0; padding-right: 10px;"><i class="fas fa-arrow-right"></i></a>
    </div>
</div>
